# Bot token from https://discord.com/developers/applications
TOKEN=
TOKEN_DEV=

# Any value will turn on development mode, which will use TOKEN_DEV instead of TOKEN
DEV=

# Client ID is required for deploying slash commands
# Guild ID is for the main bot's server but it's currently unused.
CLIENT_ID=
GUILD_ID=

# https://github.com/ravener/img-api
IMGAPI_HOST=
IMGAPI_PORT=

# top.gg API
DBL=

# Wolfram Alpha
WOLFRAM=

# The movie db
TMDB=
