{
  "token": "https://discordapp.com/developers",
  "idioticapi": "https://api.anidiots.guide",
  "genius": "https://genious.com",
  "mongodb": "mongodb://localhost",
  "lavalink": {
    "host": "localhost",
    "port": 3000,
    "password": "youshallnotpass"
  },
  "fortnite": "https://fortnitetracker.com",
  "tmdb": "https://themoviedb.org",
  "dictionary": {
    "app_key": "",
    "app_id": ""
  },
  "webhook": ["Webhook ID", "Webhook Token"],
  "pastebin": "password",
  "upvoteWebhook": ["id", "token"],
  "dbl": "https://discordbots.org"
}
