{
  "token": "https://discordapp.com/developers",
  "idioticapi": "https://api.anidiots.guide",
  "genius": "https://genious.com",
  "lavalink": "youshallnotpass",
  "fortnite": "https://fortnitetracker.com",
  "tmdb": "https://themoviedb.org",
  "dictionary": {
    "app_key": "",
    "app_id": ""
  },
  "webhook": ["Webhook ID", "Webhook Token"],
  "postgresql": {
    "user": "username",
    "password": null,
    "host": "localhost",
    "database": ""
  }
}
