{
  "devtoken": "Development token. Used when running the bot with --dev",
  "token": "Production bot token.",
  "postgresql": {
    "user": "pgsql username",
    "password": "pgsql password",
    "database": "miyako"
  },
  "genius": "Genius API for lyrics.",
  "wolfram": "wolfram alpha",
  "tmdb": "TMDB key",
  "giphy": "giphy app id",
  "dbl": "https://top.gg/api/docs"
}
